@rem:750/10rem;
.content{
    position: fixed;
    top: 40px;
}
.banner{
    width: 10rem;
    height: 10rem;
}
.mint-header{
    background-color: #fff;
    color:#333;
    box-shadow: 0 0 5px #ccc;
}
.mint-search{
    height: auto;
}